// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pickup-head{
  text-align: center;
}

.items-box-container{
  text-align: center;
  color:skyblue;
  &:hover{
    opacity:0.8;
  }
}

.fa-bell{
  color:black;
}
.fa-camera{
  font-size: 20px;
  color: white;
  height:100px;
  width:100px;
}
.sell-icon{
  color: white;
  text-align: center;
  line-height: 2 !important;
  border-radius: 50%;
  position: fixed;
  right:30px;
  bottom:70px;
}

.sell-icon{
  width: 131px;
  height: 122px;
  background-color:#ea352d;
}

.items-box{
  display: inline-block;
}
